header, nav, main, footer { 
    display: block;
}

body { 
    background-color: #FFF;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 960px;
    margin: auto;
    background-color: #FFF;
    color: #000;
}

h1 { 
    background-color: #00b9ff;
	font-family: Georgia, "Times New Roman", serif;
	padding-top: 5px;
    text-align:center;
    margin-bottom:0;
    height: 70px;
    color:#FFF;
}
h2{
    text-align:center;
}

iframe{
    border-width: 0;
}
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #90C7E3;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nva li a:hover {
    background-color: #111;
}
 
main {
    background-color: #00b9ff;
    padding: 20px 20px 20px 20px;   
    min-height: 300px;
    color:#FFF;
}
main img { 
    float: left;
    padding-right:15px;
    padding-bottom: 5px;
}

.big{
    color: #000033;
    font-size: 1.2em;
}
 ul{
    padding-left: 300px;
}

footer {
    background-color: #FFF;
    text-align: center;
    font-size: small;
    font-style: italic;
}  

#first{
    float: left;
    margin-bottom:5px;
    padding-right:10px;
}

#second{
    margin-bottom:5px;
    padding-right:10px;
}

.third {
    margin-left: 50px;
}

/*----------Validation----------*/
label.error{
    float: none;
    position:relative;
    left: 30em;
    top: -2em;
    width: 20em;
    text-align: left;
    font-style: italic;
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif;
    color: #F00;
}

/* ---------------------------- Forms -------------------------- */ 
 label{
     float: left;
     display: block;
     width: 10em;
     padding-right: 1em;
     text-align: right;
 }

 textarea, input{
     display: block;
     margin-bottom: 1em;
 }

 #mySubmit{
     margin-left: 10em;
     display: inline;
 }

 #myReset{
     margin-left: 0.5em;
     display:inline;
 }

.radio{
    float: left;
	width: 25px; 
	text-align: right; 
}

.radio2{
float: left;
	width: 25px; 
	text-align: right; 
	margin-top: 0; 
    margin-left:-28px;
}

.chkBox{
   float: left;
	width: 25px; 
	text-align: right; 
	margin-top: 0; 
    margin-left:10px;
}

.chkBox2{
   float: left;
	width: 25px; 
	text-align: right; 
	margin-top: 0; 
    margin-left:-28px;
}
.chkBox3{
   float: left;
	width: 25px; 
	text-align: right; 
	margin-top: 0; 
    margin-left:-28px;
}
.chkBox4{
   float: left;
	width: 25px; 
	text-align: right; 
	margin-top: 0; 
    margin-left:-28px;
}

#ckDiv{
     margin-left:30px;
}
